
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
    

    <style>
 
 
    </style>
}


<br />
<div class="container">
    <h1 style="text-align:right;color
    :#6495ED">
        درباره ی هتل ها
    </h1><br />
    <p class="text-right" style="color:#00008B;font-size:large">
        Luxury Hotels for Honeymooners| لوکس ترین هتل های دنیا <br />
        یکی از محبوب ترین سفرهای دنیا، به ماه عسل معروف است. زوج های جوان شروع زندگی خود را با یکی از هیجان انگیزترین فعالیت های دنیا همراه می کنند: سفر! افراد برای این مسافرت به مقاصد گوناگونی می روند، مکان های طبیعی، تاریخی و یا فرهنگی را انتخاب می کنند و خاطره ای خوش را برای خود رقم می زنند. اما یکی از فاکتورهای مهم ماه عسل، هتلی است که همه نوع امکانات خوب و دوست داشتنی را برای شما فراهم کند. الی گشت در این متن برای شما ۱۰ مورد از لوکس ترین هتل های دنیا را آورده است که برای ماه عسلتان می توانید به آنجا بروید<br /><br />
        Azura Quilalea Private Island | جزیره خصوصی آزورا کیلایی، موزامبیک <br />
        حمامی پر از گل با چشم انداز اقیانوس، میوه درخت های بائوباب، استخر خصوصی، لاک پشت هایی که از کنار ساحل گذر می کنند، تنها بخشی از ویژگی های دوست داشتنی این جزیره هستند. در کنار آن، یک منطقه حفاظت شده وجود دارد که می توانید به تماشای دلفین ها بپردازید. استخر عمومی این هتل که کمی بالاتر از زمین قرار گرفته، دید بسیار خوبی به دریا دارد و با بودن در این جزیره، محال است که یاد داستان های رابینسون کروزوئه نیوفتید<br /><br />

        Cheval Blanc Randheli | چوال بلانک راندهلی، مالدیو <br />
        فضای داخلی این هتل، سفید و درخشان است که مدرن بودن آن شما را درگیر خود خواهد کرد. همه ویلاها با بالاترین امکانات پوشیده شده و زیر ۳ دوش به سبک بارانی ندارند. صبحانه ای کامل برای شما سرو می شوند که در آن همه نوع خوراکی نظیر تخم مرغ پخته شده با خاویار، دیده می شود، ناهار و شام هم بسیار لذیذ و خوشمزه است. شما می توانید سفره ماهی هایی را تماشا کنید که خیلی آرام از کنار شما گذر می کنند<br />
        <br />
    </p>
    <div class="row m-0" style="height:200px;">
        <div class="col-lg-4 col-sm-12  p-3">
            <img class=" w-75 h-100 m-1 " src="~/Image/mohavateh3.jpg" />
        </div>
        <div class="col-lg-4 col-sm-12 p-3"><img class=" w-75 h-100 m-1" src="~/Image/m5.png" /></div>
        <div class="col-lg-4 col-sm-12 p-3"><img class="w-75 h-100 m-1" src="~/Image/mohavateh4.jpg" /></div>
    </div>
    <p class="text-right" style="color:#00008B;font-size:large">
        نیهی سومبا، اندونزی | Nihi Sumba<br />
        رومانتیک‌ترین نقطه دنج و ساکت اندونزی که با درختان انجیر معابد محصور شده، هتل نیهی سومبا است. این هتل لوکس یکی از اقامتگاه هایی است که درست مناسب یک ماه عسل به یادماندنی خواهد بود. از فعالیت هایی که می توانید در آن انجام دهید، اسب سواری، قدم زدن در مزارع برج و صبحانه ای در تراس با منظره دریا است. همه ویلاهای این هتل دارای سرویس خواب های بسیار با کیفیت، دید دریا و استخر خصوصی هستند.
    </p>
    <h1 style="text-align:right;color
    :#6495ED">
        امکانات تفریحی
    </h1><br />
    <div class="row m-0" style="height:200px;">
        <div class="col-lg-3 col-sm-12  p-1">
            <img class=" w-100 h-100 m-1 " src="~/Image/tafrihi2.jpg" />

        </div>
        <div class="col-lg-3 col-sm-12 p-1">
            <img class=" w-100 h-100 m-1" src="~/Image/tafrihi1.jpg" />
        </div>
        <div class="col-lg-3 col-sm-12 p-1"><img class="w-100 h-100 m-1" src="~/Image/tafrihi3.jpg" /></div>
        <div class="col-lg-3 col-sm-12 p-1"><img class="w-100 h-100 m-1" src="~/Image/tafrihi 4.jpg" /></div>
    </div>
</div>
   


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
