
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container text-right" style="color:#00BFFF; font-size:50px">
    تماس با ما
    <br />
    <div class="row">
        <div class="col-lg-4">
            <img class="w-100 h-100 m-2 p-3" src="~/Image/contactus.jpg" />
        </div>
        <div class="col-lg-8" style="color:#00008B;font-size:20px">
            با ارائه ی نظرات و پیشنهاداتتون به ماکمک کنید تا خدمات شایسته تری به شما ارائه دهیم<br />از طریق شبکه های اجتماعیمان مارا دنبال کنید و با ما در تماس باشید<br />
            .با ارسال نظرات و پیشنهاداتتان برای بهبود هر چه بیشتر سایت به ما یاری برسانید <br />باتشکر از انتخاب شما
        </div>
    </div>



</div>
