
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-right" style="color:#00BFFF; font-size:50px">
   درباره ما
    <br />
    <div class="row">
        <div class="col-lg-4">
            <img class="w-100 h-100 m-2 p-3" src="~/Image/about-us-blog-header.png" />
        </div>
        <div class="col-lg-8" style="color:#00008B;font-size:20px">
            .امکان رزرو در هر گوشه از دنیا را با ما تجربه کنید<br /> .این سایت در تلاش است تا به شما این امکان را بدهد که  در هرکجا که هستید هتل دلخواهتان را رزرو کنید<br />
               .با ارسال نظرات و پیشنهاداتتان برای بهبود هر چه بیشتر سایت به ما یاری برسانید <br />باتشکر از انتخاب شما
        </div>
    </div>



</div>


